<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<p th:text="${user}"></p>
<p th:text="${user_role}"></p>

<form th:if="${user != 'anonymous'}" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>

<h2>Index Page</h2>

<a th:href="@{/login}">login page</a><br>
<a th:href="@{/registration}">registration page</a><br>
<a th:href="@{/user}">foruser page</a><br>
<a th:href="@{/admin}">foradmin page</a><br>

</body>
</html>